## My name is Murat Çelik
    I am interested in Data Science<br>
    I am a student of Computer Science in Hacettepe University
    Contact:
 <a href="https://www.linkedin.com/in/muratcelik35/">
  <img src="https://www.vargonen.com/blog/wp-content/uploads/2020/07/linkedin-ana-gorsel-.jpg" alt="Linkedin Account" style="width:84px;height:63px;float:left;">
</a> 
<br><br>
<h4><b>Date</b><br></h4>
&nbsp;&nbsp;&nbsp;&nbsp;26/02/2021 : Created Numpy notebook

<img src="../Pandas/pandas.png" alt="Numpy" width="500" height="600">

**Pandas** is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the *Python* programming language. 
When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you.pandas will help you to explore, clean and process your data. In pandas, a data table is called aDataFrame.

[Cheat Sheat](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

Pandas, and in particular its Series and DataFrame objects, builds on the **NumPy array structure** and provides efficient access to these sorts of “data munging” tasks that occupy much of a data scientist’s time.

In [2]:
#Please check the your version of Pandas
import pandas
pandas.__version__

'1.1.3'

In [3]:
#By convention, people will import Pandas using pd as an alias
import pandas as pd

If you write "pd." and push the "TAB" button, you will see all contents of the Pandas namespace

# Introducing Pandas Objects

In [5]:
import numpy as np
import pandas as pd

A Pandas *Series* is a one-dimensional array of indexed data.

In [21]:
ind = pd.Series([1,2,3,4,5])
ind

0    1
1    2
2    3
3    4
4    5
dtype: int64

The Series wraps both a sequence of values and a sequence of indices, which we can access with the values and index attributes.

In [22]:

data = pd.Series(["a","b","c","d","e","f"])
data

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [23]:
# Values
data.values

array(['a', 'b', 'c', 'd', 'e', 'f'], dtype=object)

In [24]:
# Index
data.index

RangeIndex(start=0, stop=6, step=1)

In [39]:
# Access
data[1]

'b'

Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the NumPy array has an *implicitly* defined integer index used to access the values, the Pandas Series has an *explicitly* defined index associated with the values.

In [36]:
index_series = pd.Series([10,20,30,40,50,60],index=data)
index_series

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [41]:
# item access
print(index_series["b"])
index_series[1]

20

20

In [43]:
index_series = pd.Series([10,20,30,40,50,60],index=[5,4,3,2,1,0])
index_series

5    10
4    20
3    30
2    40
1    50
0    60
dtype: int64

In [44]:
index_series[0]

60

In [46]:
# Error or not error => ValueError: Length of passed values is 5, index implies 6.
index_series = pd.Series([10,20,30,40,50],index=[5,4,3,2,1,0])
index_series

ValueError: Length of passed values is 5, index implies 6.

In [47]:
# Error or not error => ValueError: Length of passed values is 6, index implies 5.
index_series = pd.Series([10,20,30,40,50,60],index=[4,3,2,1,0])
index_series

ValueError: Length of passed values is 6, index implies 5.

Pandas Series a bit like a specialization of a **Python dictionary**. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure that maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a *Pandas Series makes it much more efficient than Python dictionaries* for certain operations.

In [51]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)
population_dict

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [52]:
population_pandas = pd.Series([38332521,26448196,19651127,19552860,12882135],
                              index=['California','Texas','New York','Florida','Illinois'])
population_pandas

California    38332521
Texas         26448196
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [53]:
population_pandas = pd.Series({'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135})
population_pandas

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## The Pandas DataFrame Object

If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame
is an analog of a two-dimensional array with both flexible row indices and flexible
column names.

In [56]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
population_dict = {'California': 38332521,'Texas': 26448193,'New York': 19651127,
'Florida': 19552860,'Illinois': 12882135}
pop = pd.Series(population_dict)
area = pd.Series(area_dict)
states = pd.DataFrame({"population":pop,"area":area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [57]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [58]:
states.columns

Index(['population', 'area'], dtype='object')

In [59]:
states["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [60]:
states["population"]

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [62]:
id_dict = {'California': 1111111111,'Texas': 2222222222,'New York': 3333333333,
'Florida': 4444444444,'Illinois': 5555555555}
id = pd.Series(id_dict)
id

California    1111111111
Texas         2222222222
New York      3333333333
Florida       4444444444
Illinois      5555555555
dtype: int64

In [64]:
states["id"] = id
states

            population    area          id
California    38332521  423967  1111111111
Texas         26448193  695662  2222222222
New York      19651127  141297  3333333333
Florida       19552860  170312  4444444444
Illinois      12882135  149995  5555555555

In [65]:
# Pandas will fill them in with NaN (i.e.,“not a number”) values
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### Union, Intersection, Differences

In [75]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [76]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
print(indA)
print(indB)

Int64Index([1, 3, 5, 7, 9], dtype='int64')
Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [77]:
indA & indB #intersection

Int64Index([3, 5, 7], dtype='int64')

In [78]:
indA | indB #union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [79]:
indA ^ indB #symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

## Access Item

In [80]:
states

            population    area          id
California    38332521  423967  1111111111
Texas         26448193  695662  2222222222
New York      19651127  141297  3333333333
Florida       19552860  170312  4444444444
Illinois      12882135  149995  5555555555

In [81]:
states[1:3]

          population    area          id
Texas       26448193  695662  2222222222
New York    19651127  141297  3333333333

In [84]:
states[['id','area']]

                    id    area
California  1111111111  423967
Texas       2222222222  695662
New York    3333333333  141297
Florida     4444444444  170312
Illinois    5555555555  149995

### Indexers : loc, iloc 
Pandas provides some special *indexer* attributes that explicitly expose certain indexing schemes. These are not functional methods, but attributes that expose a particular slicing interface to the data in the Series.

In [112]:
dat = pd.Series(['a', 'c','e','g','i'], index=[1, 3, 5,7,9])
dat

1    a
3    c
5    e
7    g
9    i
dtype: object

In [113]:
# the loc attribute allows indexing and slicing that always references the explicit index:
dat.loc[3]

'c'

In [118]:
dat.loc[1:7]

1    a
3    c
5    e
7    g
dtype: object

In [115]:
# The iloc attribute allows indexing and slicing that always references the implicit Python-style index:
dat.iloc[3]

'g'

In [119]:
dat.iloc[0:3]

1    a
3    c
5    e
dtype: object

### Data Selection in DataFrame

In [121]:
states

            population    area          id
California    38332521  423967  1111111111
Texas         26448193  695662  2222222222
New York      19651127  141297  3333333333
Florida       19552860  170312  4444444444
Illinois      12882135  149995  5555555555

In [122]:
states["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [124]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [125]:
states.area is states["area"]

True

In [130]:
states["density"] = states['area'] * states['id'] / states['population']
states

            population    area          id       density
California    38332521  423967  1111111111  1.228916e+07
Texas         26448193  695662  2222222222  5.845071e+07
New York      19651127  141297  3333333333  2.396758e+07
Florida       19552860  170312  4444444444  3.871261e+07
Illinois      12882135  149995  5555555555  6.468691e+07

In [134]:
states.values # acces values as matrix array
states.values

array([[3.83325210e+07, 4.23967000e+05, 1.11111111e+09, 1.22891590e+07],
       [2.64481930e+07, 6.95662000e+05, 2.22222222e+09, 5.84507061e+07],
       [1.96511270e+07, 1.41297000e+05, 3.33333333e+09, 2.39675821e+07],
       [1.95528600e+07, 1.70312000e+05, 4.44444444e+09, 3.87126089e+07],
       [1.28821350e+07, 1.49995000e+05, 5.55555556e+09, 6.46869137e+07]])

In [135]:
# if we want swap row and columns
states.T

,California,Texas,New York,Florida,Illinois
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
id,1.111111e+09,2.222222e+09,3.333333e+09,4.444444e+09,5.555556e+09
density,1.228916e+07,5.845071e+07,2.396758e+07,3.871261e+07,6.468691e+07

In [138]:
states.iloc[:3,1:3] # use index

              area          id
California  423967  1111111111
Texas       695662  2222222222
New York    141297  3333333333

In [140]:
states.loc["California":"Florida",:"id"] # use column name

            population    area          id
California    38332521  423967  1111111111
Texas         26448193  695662  2222222222
New York      19651127  141297  3333333333
Florida       19552860  170312  4444444444

In [148]:
# the loc indexer we can combine masking and fancy indexing as in the following
states.loc[states.population > 19552860,["population","density"]]

            population       density
California    38332521  1.228916e+07
Texas         26448193  5.845071e+07
New York      19651127  2.396758e+07

In [149]:
states

            population    area          id       density
California    38332521  423967  1111111111  1.228916e+07
Texas         26448193  695662  2222222222  5.845071e+07
New York      19651127  141297  3333333333  2.396758e+07
Florida       19552860  170312  4444444444  3.871261e+07
Illinois      12882135  149995  5555555555  6.468691e+07

In [151]:
states.iloc[0,3]=90 # modify value
states

            population    area          id       density
California    38332521  423967  1111111111  9.000000e+01
Texas         26448193  695662  2222222222  5.845071e+07
New York      19651127  141297  3333333333  2.396758e+07
Florida       19552860  170312  4444444444  3.871261e+07
Illinois      12882135  149995  5555555555  6.468691e+07

In [154]:
states[states.id<3333333333]

            population    area          id       density
California    38332521  423967  1111111111  9.000000e+01
Texas         26448193  695662  2222222222  5.845071e+07